.form {
  display: flex;
  flex-direction: column;
}

.fullWidth {
  width: 100%;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.row label {
  flex: 1 1 calc(50% - 1rem);
  /* Two items per row on larger screens */
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .row label {
    flex: 1 1 calc(100% - 1rem);
    /* Full width for each item on smaller screens */
  }
}