* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #efefef;
}

.daily-task-manager-nextjs14 { 
  max-width: 1000px;
  padding: 60px 20px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.daily-task-manager-nextjs14 header,
.daily-task-manager-nextjs14 footer {
  height: 50px; 
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 20px;
  text-align: center;
}

.daily-task-manager-nextjs14 header {
  bottom: unset;
  top: 0;
}

.daily-task-manager-nextjs14 footer {
  text-align: center;
  width: 100%;
}

.daily-task-manager-nextjs14 h1 {
  font-size: 24px;
  margin: 0 0 15px 0;
}

.daily-task-manager-nextjs14 label {
  font-size: 12px;
  margin-bottom: 5px;
}

.daily-task-manager-nextjs14 label span {
  margin-bottom: 5px;
  display: block;
}

.daily-task-manager-nextjs14 select,
.daily-task-manager-nextjs14 textarea,
.daily-task-manager-nextjs14 input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.daily-task-manager-nextjs14 textarea {
  height: 100px;
}

.daily-task-manager-nextjs14 form {
  margin-bottom: 15px;
}

.daily-task-manager-nextjs14 button,
.daily-task-manager-nextjs14 form button {
  background-color: #8c0bd7;
  color: #fff;
  padding:12px 15px;
  border: unset;
  margin-top: 5px;
  border-radius: 6px; 
  cursor: pointer; 
  width: auto;
}

.daily-task-manager-nextjs14 form h3 {
  margin-bottom: 11px;
}

.daily-task-manager-nextjs14 ul, .daily-task-manager-nextjs14 ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.daily-task-manager-nextjs14 ul li {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: #fff;
  justify-content: space-between;
}

.daily-task-manager-nextjs14 ul li h3 {
  color: #8c0bd7;
  margin-bottom: 10px;
}

.daily-task-manager-nextjs14 ul li p {
  color: #666666;
  margin-bottom: 10px;
}

.daily-task-manager-nextjs14 ul li button {
  padding: 5px 10px;
  font-size: 12px;
}

.todo-actions,
.todo-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.todo-properties label {
  font-weight: bold;
}

.todo-list input, .todo-list select {
  padding: 5px;
}